
#map {
  height: 80vh;
  width: 95vw;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.dropdown-li{

}

.dropdown-li:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
