@media screen and (max-width: 400px){
    h1{
        font-size: 19px;
    }
    h3{
        font-size: 12px;;
    }
    #map{
        width: 100vw;
    }
}


@media screen and (min-width: 401px) and (max-width: 700px){
    h1{
        font-size: 24px;
    }
    h3{
        font-size: 20px;
    }
    #map{

    }
}


#port{
    color: #8E4600;
    text-decoration: none;
}
#map {
  height: 80vh;
  width: 95vw;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.dropdown-li:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
