@media screen and (max-width: 400px){
    h1{
        font-size: 19px;
    }
    h3{
        font-size: 12px;;
    }
    #map{
        width: 100vw;
    }
    .top-text{
        padding-left: 0vw;
    }
}


@media screen and (min-width: 401px) and (max-width: 700px){
    h1{
        font-size: 24px;
    }
    h3{
        font-size: 20px;
    }

}


#port{
    color: #8E4600;
    text-decoration: none;
}
#map {
  height: 80vh;
  width: 98vw;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#dropdownMenu1{
    background-color: #F63440;
    color: white;
    border: 1px solid white;
}


.dropdown-li:hover{
    background-color: #F63440;
    color: white;
    cursor: pointer;
}

.top-text{
    display: inline-block;
}

#title{
    margin-left: 5vw;
}
#port{
    color: white;
}

#content{
    padding:0;
    margin:0;
}

.top-div{
    padding: 0;
}
.headline-div{
    background-color: #F63440;
    padding: 0;

}


#title{
    color: white;
    margin-right: 8vw;
    font-weight: bold;
}
.dropdown-toggle{
    margin-top: 2vh;
}

a{
    color: #0070eb;
}

div.gm-style-iw{
    width: 100x;
    min-height: 175px;

    padding: 0;
}
.info-top{
    background-color: #F63440;
    color: white;
    padding: 0;
}

.bold{
    font-weight: bold;
}
