<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="author" content="Ian Agpawa">
    <meta name="description" content="A place to find tacos in Spanish Harlem.">
    <title>TacoHub</title>
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
    <div class='container-fluid'>
        <div class='col-md-12 text-center'>
            <h1>TacoHub</h1>
            <h3>Spanish Harlem's Finest Tacos</h3>
            <h4>By
                <a id='port' href="https://ian-agpawa.appspot.com" target="_blank">
                    Ian Agpawa
                </a>
            </h4>
        </div>
        <div class='container-fluid'>
            <div class="dropdown col-md-1">
              <button class="btn btn-default dropdown-toggle" type="button"
                    id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                Restaurants
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>
                        <input
                            data-bind="textInput: filter, valueUpdate: 'keyup'"/>
                    </li>
                    <div class="dropdown-divider"></div>
                    <div data-bind="foreach: filteredList">
                        <li class='dropdown-li text-center'
                            data-bind="click: $parent.getCurrentRestaurant, text: name">
                        </li>
                    </div>
              </ul>
            </div>


            <div id="map" class='container-fluid'></div>


        </div>
    </div>



    <script src="static/js/lib/jquery-3.1.1.min.js"></script>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
    <script src="static/js/lib/knockout-3.4.1.js"></script>
    <script>
        var CLIENT_ID = "{{client_id}}";
        var CLIENT_SECRET = "{{client_secret}}";
    </script>
    <script src="static/js/secrets.js"></script>
    <script src="static/js/restaurant.js"></script>
    <script src="static/js/app.js"></script>
    <script src="static/js/map.js"></script>
    <script>
        function googleError(){
            alert("Something went wrong with Google Maps.  Please check the console for details.");
        }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlCjgpb2KA-b3SXVQWPLtHEk_CurgfXLo&callback=initMap" onerror="googleError()">
    </script>

</body>
</html>
